readme.html
index.php
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
license.txt
.htaccess
wp-admin
wp-includes
wp-content/languages
wp-content/upgrade
wp-content/uploads
wp-content/index.php
wp-content/plugins/akismet
wp-content/plugins/woocommerce-direct-checkout
wp-content/plugins/wordpress-database-reset
wp-content/plugins/theme-check
wp-content/plugins/hello.php
wp-content/plugins/index.php
wp-content/themes/twentyfifteen
wp-content/themes/twentyfourteen
wp-content/themes/twentythirteen
wp-content/themes/index.php

database.sql
