@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: icomoon;
}

[class^="icon-"],
[class*=" icon-"],
.divider {
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-down_caret {

	&:before {
		content: "\e602";
	}

}

.icon-cd {

	&:before {
		content: "\e601";
	}

}

.icon-apple {

	&:before {
		content: "\e900";
	}

}

.icon-spotify {

	&:before {
		content: "\e901";
	}

}

/**
 * _fonts.scss
 * Custom WooCommerce fonts.
*/

// @font-face {
// 	font-family: 'star';
// 	src: url('fonts/star.eot');
// 	src: url('fonts/star.eot?#iefix') format('embedded-opentype'),
// 		url('fonts/star.woff') format('woff'),
// 		url('fonts/star.ttf') format('truetype'),
// 		url('fonts/star.svg#star') format('svg');
// 	font-weight: normal;
// 	font-style: normal;
// }

@font-face {
	font-family: 'WooCommerce';
	src: url('fonts/WooCommerce.eot');
	src: url('fonts/WooCommerce.eot?#iefix') format('embedded-opentype'),
		url('fonts/WooCommerce.woff') format('woff'),
		url('fonts/WooCommerce.ttf') format('truetype'),
		url('fonts/WooCommerce.svg#WooCommerce') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* SETUP */

body {
	display: table;
	width: 100%
}

body,
input,
textarea {
	text-size-adjust: 100%;
	@extend .antialiased;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
	display: block;
}

figure {
	margin: 0;
}

table {
	width: 100%;
}

::selection {
	background: $input-border-color;
	color: $white;
}

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-transform: lowercase;
}

div:focus {
	outline: none;
}

.subheader,
h3,
#page404 h1 {
	font-family: $font-family-sans-serif;
	text-transform: none;
}

#intro,
#main,
section,
.inside-footer,
#clouds,
.blog-header {
	padding: rem-calc(60 0);
}

section,
footer {

	p {

		&:last-child {
			margin-bottom: 0;
		}

	}

}

.space-top {
	padding-top: rem-calc(30);
}

.double-space-top {
	padding-top: rem-calc(60);
}

#about h2,
#contact h2,
#contact h4,
#contact p,
.scroll,
#open-order,
#page404 {
	text-align: center;
}

table {
	border-spacing: 0;
	border-radius: $global-radius;
	border-collapse: separate;
}

/* ANIMATIONS */

.loop {
	animation-iteration-count: infinite;
}

.fadeInDown {
	@include fadeInDown();
}

.fadeInUp {
	@include fadeInUp();
}

.fadeInLeft {
	@include fadeInLeft();
}

.fadeInRight {
	@include fadeInRight();
}

.flash {

	@include flash(
		$duration: 4s
	);

}

/* FORMS */

button,
.button,
input[type="submit"] {
	border-radius: $global-radius;
	outline: none;

	&.alt {
		margin-bottom: rem-calc(20);
	}

}

#{text-inputs(all, 'input')},
select {
    border-radius: $global-radius;
    outline: none;
	transition: all 0.15s linear 0s;
}

/* LOADING */

#loading {
    background: $tertiary-color;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  	text-align: center;
  	vertical-align: middle;
    transform: scale(3,3);
    z-index: 9999;
    overflow: hidden;
}

.loading-icon {
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 0;
	top: 0;
	right: 0;
	width: rem-calc(20);
	height: rem-calc(20);

	.rect {
		background-color: $primary-color;
		height: 100%;
		width: rem-calc(4);
		float: left;
		animation: loading-rect 0.6s infinite ease-in-out;

		~ {

			.rect {
				margin-left: rem-calc(4);
			}

		}

	}

	.rect1 {
		animation-delay: -0.3s;
	}

	.rect2 {
		animation-delay: -0.2s;
	}

	.rect3 {
		animation-delay: -0.1s;
	}

}

@keyframes loading-rect {

	0%,
	100% {
		transform: scaleY(0.2);
		opacity: 0.2;
	}

	50% {
		transform: scaleY(1.0);
		opacity: 1;
	}

}

/* LINK EFFECTS */

a:not([class]),
a.shipping-calculator-button,
a.about_paypal,
a[class=wc-backward] {

	&:link {
		background-image: linear-gradient(to right, rgba($white, 0) 50%, $primary-color 50%);
		background-repeat: repeat-x;
		background-position: -100% -96%;
		background-size: 200% auto;
		transition: background-position 0.3s;
		padding-bottom: rem-calc(4);

		&:hover {
			background-position: 0 -97%;
		}

	}

}

/* ALERT BOXES */

.alert-box {

	h4 {
		color: $white;
	}

	&.success {
	    background-color: rgba($success-color, 0.5);
	}

	&.warning {
	    background-color: rgba($warning-color, 0.5);
	}

	&.info {
	    background-color: rgba($info-color, 0.5);
	}

}

/* GLOBAL */

.old-browser-notice {
	text-align: center;
	padding-top: $paragraph-margin-bottom;
	padding-bottom: $paragraph-margin-bottom;
	background-color: $white;
}

/* INTRO / HOME PAGE */

#intro {
	background:
		linear-gradient(
			rgba($tertiary-color, 0.15),
			rgba($tertiary-color, 0.15)
		),
		url(#{$assetPath}/intro-bg.jpg) 80% 50% no-repeat,
		url(#{$assetPath}/main-bg.jpg);
	background-size: cover;
	position: relative;
}

.st0 {
	fill: $primary-color;
}

.scroll {
	position: absolute;
	bottom: rem-calc(100);
	left: 50%;
	transform: translateX(-50%);

	@media #{$small-only} {
		bottom: rem-calc(60);
	}

	span {
		border: $input-border-width $input-border-style $input-border-color;
		background: rgba(scale-color($primary-color, $lightness: 80%), 0.25);
		padding: rem-calc(20);
		border-radius: $global-radius;
		font-size: rem-calc(25);
		color: $white;
	}

}

/* MAIN HEADER */

#main {
	background:
		linear-gradient(
			rgba($white, 0.15),
			rgba($white, 0.15)),
			$tertiary-color url(#{$assetPath}/main-bg.jpg) 80% 50% no-repeat;
	background-size: cover;
}

/* PAGE */

#page {
	border-top: 5px solid scale-color($tertiary-color, $lightness: -20%);
}

a.hover-logo {

	.st0 {
		transition: fill 300ms ease;
	}

	&:hover {

		.st0 {
			fill: $button-bg-hover;
		}

	}

}

/* ABOUT */

#about {
	background: scale-color($tertiary-color, $lightness: 40%);
}

/* VIDEO */

#video {
	background: $primary-color;
}

.flex-video {
	@extend .flex-video;
	border-radius: $global-radius;
}

/* ALBUM */

#album {
	background:
		linear-gradient(
			rgba($snow, 0.45),
			rgba($snow, 0.45)),
		url(#{$assetPath}/album-bg.jpg) 80% 70% no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;

	@media #{$small-only} {
		text-align: center;

		h2 {
			padding-top: rem-calc(30);
		}

	}

	img {
		border: $input-border-width $input-border-style rgba($primary-color, 0.25);
		border-radius: $global-radius;
		width: 100%;
	}

}

.order-button {
	width: 100%;
}

/* animated icons */

.spin,
.drop,
.spotify {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba($black, 0);
	backface-visibility: hidden;
	position: relative;
	padding-left: 2em;
	padding-right: 1em;

	&:before {
		position: absolute;
		left: 1em;
		padding: rem-calc(0 1);
		font-family: icomoon;
	}

}

/* icon spin */

.spin {

  	&:before {
  		content: "\e601";
  		transition-duration: 1s;
  		transition-property: transform;
  		transition-timing-function: ease-in-out;
  	}

  	&:hover,
  	&:focus,
  	&:active {

  		&:before {
  			transform: rotate(720deg);
  		}

  	}

}

/* icon drop */

.drop {

	&:before {
		content: "\e900";
		opacity: 1;
		transform: translateZ(0);
	}

	&:hover,
  	&:focus,
  	&:active {

  		&:before {
  			opacity: 0;
  			transition-duration: 0.3s;
  			animation-name: drop;
			animation-duration: 0.5s;
			animation-delay: 0.3s;
			animation-fill-mode: forwards;
			animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  		}

  	}

}

@keyframes drop {

	0% {
		opacity: 0;
	}

	50% {
		opacity: 0;
		transform: translateY(-100%);
	}

	51%,
	100% {
		opacity: 1;
	}

}

/* icon spotify */

.spotify {
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;

	&:before {
		content: "\e901";
		transform: translateZ(0);
		transition-timing-function: ease-out;
	}

	&:hover,
  	&:focus,
  	&:active {

  		&:before {
			animation-name: spotify;
			animation-duration: 0.3s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
			animation-direction: alternate;
  		}

  	}

}

@keyframes spotify {

	to {
		transform: scale(1.3);
	}

}

/* birds */

// .birds {
	
// }

#bird1,
#bird2 {
	position: absolute;
	width: 100px;
	top: 45%;

	@media #{$small-only} {
		top: 64%;
	}

}

.fly {
	animation: fly 17.5s infinite linear;
}

#bird1 {
	transform: scale(0.2,0.2);

	@media #{$small-only} {
		transform: scale(0.1,0.1);
	}

}

#bird2 {
	transform: scale(0.4,0.4);

	@media #{$small-only} {
		transform: scale(0.2,0.2);
	}

}

.bird {
	position: absolute;
	animation: bob 0.7s infinite cubic-bezier(0.7, 0.7, 0.1, 0.4);

	div {
		position: absolute;
	}

 }

.body,
.head,
.wing-l,
.wing-r {
	width: 0;
	height: 0;
    border-color: transparent;
    border-style: solid;
}

.body {
	left: -80px;
	border-width: 15px;
	border-right-width: 25px;
	border-top-width: 15px;
	border-left-width: 55px;
	border-top-color: $jet;
}

.head {
	right: 50px;
	bottom: 0;
	border-width: 10px;
	border-right-width: 5px;
	border-top-width: 0px;
	border-left-width: 15px;
	border-bottom-color: $steel;
}

.wing-l,
.wing-r {
	right: 22px;
	border-width: 60px;
	border-right-width: 20px;
	border-left-width: 6px;
}

.wing-l {
	bottom: 0;
	border-top-width: 0;
	border-bottom-color: $oil;
	animation: flap-l 0.7s infinite;
}

.wing-r {
  	top: 0;
  	border-bottom-width:0px;
  	border-top-color: $steel;
  	animation: flap-r 0.7s infinite;
}

@keyframes flap-r {

	0%,
	10%,
	100% {
		border-top-width: 60px;
	}

	40%,
	60% {
		border-top-width: 10px;
	}

}

@keyframes flap-l {

	0%,
	100% {
		border-bottom-width: 0px;
	}

	40%,
	60% {
		border-bottom-width: 40px;
	}

}

@keyframes fly {

	0% {
		left: 100%;
	}

	30%,
	100% {
		left: -20%;
	}

}

@keyframes bob {

	0%,
	100% {
		top: 25px;
	}

	50% {
		top: 0;
	}

}

/* WOOCOMMERCE */

.quantity {
	margin: 0 auto;
	width: rem-calc(50);
}

td {

	&.actions {
		text-align: right;
	}

	&.product-quantity {

		> .quantity {
			margin: 0;
		}

	}

}

.cart_totals {

	table {
		width: 100%;

		th {
			vertical-align: top;
			width: 25%;
		}

	}

}

#place_order {
	float: right;

	@media #{$small-only} {
		float: none;
	    width: 100%;
	}

}

/* CONTACT */

#contact {
	background: url(#{$assetPath}/contact-bg.jpg) 80% 70% no-repeat;
	background-size: cover;
	overflow: hidden;
	padding: 0;
}

div {

	&#clouds {
		background-image: url(#{$assetPath}/cloud.png);
		background-repeat: repeat-x;
		background-position: 0 50%;
		animation: slide 80s linear infinite;
	}

}

@keyframes slide {

	to {
		background-position: 1800px 50%;
	}

}

::placeholder {
	color: $input-placeholder-font-color;
	opacity: 1;
}

label {

	&.error {
		@extend span.error, small.error;
		border-radius: 0 0 $global-radius $global-radius;
	}

}

form {

	.error {

		.prefix-radius {

			&.row {

				&.collapse {

					.prefix {
						border-radius: $global-radius 0 0 0;
					}

					input,
					textarea {
						border-radius: 0 $global-radius 0 0;
					}

				}

			}

		}

	}

}

.error {

	textarea {
		border-radius: $global-radius $global-radius 0 0;
	}

	::placeholder {
		color: $alert-color;
		opacity: 1;
	}

}

/* Blog */

.blog-page {
	padding-top: 0;
}

.blog-header {
	background: $tertiary-color;
	margin-bottom: rem-calc(60);

	span {

		@media #{$small-only} {
			display: block;
			margin-bottom: 1rem;
		}

		@media #{$medium-up} {
			float: right;
		}

	}

	time {

		@media #{$medium-up} {
			float: left;
		}

	}

	h1 {
		padding-top: 1rem;
		clear: both;
	}

}

.blog-header,
.blog-header-index,
.entry-content {

	span,
	time,
	figcaption {
		text-transform: uppercase;
		letter-spacing: rem-calc(3);
		font-size: rem-calc(11);
	}

}

body .entry-content {

	figcaption {
		background-color: $white;
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
	}

	figure.wp-block-image {

		&[style] {
			width: 100%!important;
		}

		img {
			width: 100%;
		}

	}

}

.blog-listings {

	@media #{$medium-up} {
		border-left: 2px solid $primary-color;
		padding-left: rem-calc(60);
	}

}

.blog-latest {
	margin-bottom: rem-calc(60);
	margin-top: rem-calc(30);

	@media #{$medium-up} {
		margin-top: 0;
	}

}

ul.pagination li:hover a,
ul.pagination li a:focus,
ul.pagination li:hover button,
ul.pagination li button:focus {
	color: $white;
}

.blog-header-index {

	.blog-title {
		line-height: 1.4;
		margin-bottom: rem-calc(60);
	}

}

.featured-image {
	margin-bottom: rem-calc(60);
}

pre {
	background: $code-background-color;
	font-family: $code-font-family;
	max-width: 100%;
	overflow: auto;
	white-space: unset;
	padding: $code-padding;
	margin-bottom: $paragraph-margin-bottom;
}

blockquote {
	background-color: $white;

	p {
		font-style: italic;
		font-size: $h4-font-size;
	}

}

.wp-block-pullquote {
	border-top: 2px solid $primary-color;
	border-bottom: 2px solid $primary-color;
	border-left: 0px solid white;
	// color: #40464d;
	padding: 3em 0;
	text-align: center;

	p {
		font-size: $h3-font-size;
		font-family: $header-font-family;
		line-height: $header-line-height;
		font-style: normal;
	}

	cite {
		// color: #40464d;
		position: relative;
		// font-weight: 900;
		text-transform: uppercase;
		letter-spacing: rem-calc(3);
		font-size: rem-calc(11);
		font-style: normal;

		&:before {
			content: '';
		}

	}

}

.wp-block-cover-image {
	position: relative;
	background-size: cover;
	background-position: center;
	height: rem-calc(430);
	width: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&.has-background-dim:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba($black, 0.5);
	}

	h2 {
		color: $white;
		z-index: 1;
		max-width: rem-calc(636);
		padding: rem-calc(14);
		text-align: center;
		margin-bottom: 0;
	}

}

.wp-block-embed-youtube,
.wp-block-embed {
	@extend .flex-video;

	iframe {
		height: 90%;
	}

	figcaption {
		position: absolute;
		bottom: 0;
		width: 100%;
	}

}

img.wp-smiley,
img.emoji {
	display: inline;
	border: none;
	box-shadow: none;
	height: 1em;
	width: 1em;
	margin: 0 .07em;
	vertical-align: -0.1em;
	background: none;
	padding: 0;
}

.wp-block-text-columns {
	@extend .row;

	> div {
		@extend .columns;
	}

	> .wp-block-column {
		@extend .small-6;
	}

}

.wp-block-separator {
	max-width: rem-calc(100);
	margin: $hr-margin auto;
}

.wp-block-button.aligncenter {
	@extend .text-center;
}

.wp-block-button__link {
	@extend .button;
}

.wp-block-cover-image,
.wp-block-embed-youtube,
.wp-block-embed,
.wp-block-image,
.wp-block-gallery {
	margin-bottom: $paragraph-margin-bottom;
}

.wp-block-gallery,
.wp-block-gallery.aligncenter,
.wp-block-gallery.alignleft,
.wp-block-gallery.alignright {
	display: flex;
	flex-wrap: wrap;
}

.wp-block-gallery.aligncenter .blocks-gallery-image,
.wp-block-gallery.alignleft .blocks-gallery-image,
.wp-block-gallery.alignright .blocks-gallery-image,
.wp-block-gallery .blocks-gallery-image {
	// margin: 0px;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
}

.wp-block-gallery.aligncenter.columns-1 figure,
.wp-block-gallery.alignleft.columns-1 figure,
.wp-block-gallery.alignright.columns-1 figure,
.wp-block-gallery.columns-1 figure {
	width: calc(100% / 1 - 16px);
}

.wp-block-gallery.aligncenter.is-cropped .blocks-gallery-image img,
.wp-block-gallery.alignleft.is-cropped .blocks-gallery-image img,
.wp-block-gallery.alignright.is-cropped .blocks-gallery-image img,
.wp-block-gallery.is-cropped .blocks-gallery-image img {
	flex: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.wp-block-gallery.aligncenter.columns-2 figure,
.wp-block-gallery.aligncenter.columns-3 figure,
.wp-block-gallery.aligncenter.columns-4 figure,
.wp-block-gallery.aligncenter.columns-5 figure,
.wp-block-gallery.aligncenter.columns-6 figure,
.wp-block-gallery.aligncenter.columns-7 figure,
.wp-block-gallery.aligncenter.columns-8 figure,
.wp-block-gallery.alignleft.columns-2 figure,
.wp-block-gallery.alignleft.columns-3 figure,
.wp-block-gallery.alignleft.columns-4 figure,
.wp-block-gallery.alignleft.columns-5 figure,
.wp-block-gallery.alignleft.columns-6 figure,
.wp-block-gallery.alignleft.columns-7 figure,
.wp-block-gallery.alignleft.columns-8 figure,
.wp-block-gallery.alignright.columns-2 figure,
.wp-block-gallery.alignright.columns-3 figure,
.wp-block-gallery.alignright.columns-4 figure,
.wp-block-gallery.alignright.columns-5 figure,
.wp-block-gallery.alignright.columns-6 figure,
.wp-block-gallery.alignright.columns-7 figure,
.wp-block-gallery.alignright.columns-8 figure,
.wp-block-gallery.columns-2 figure,
.wp-block-gallery.columns-3 figure,
.wp-block-gallery.columns-4 figure,
.wp-block-gallery.columns-5 figure,
.wp-block-gallery.columns-6 figure,
.wp-block-gallery.columns-7 figure,
.wp-block-gallery.columns-8 figure {
    width: calc(100% / 2 - 16px);
}

@media #{$medium-up} {
    .wp-block-gallery.aligncenter.columns-3 figure,
    .wp-block-gallery.alignleft.columns-3 figure,
    .wp-block-gallery.alignright.columns-3 figure,
    .wp-block-gallery.columns-3 figure {
        width: calc(100% / 3 - 16px);
    }

    .wp-block-gallery.aligncenter.columns-4 figure,
    .wp-block-gallery.alignleft.columns-4 figure,
    .wp-block-gallery.alignright.columns-4 figure,
    .wp-block-gallery.columns-4 figure {
        width: calc(100% / 4 - 16px);
    }

    .wp-block-gallery.aligncenter.columns-5 figure,
    .wp-block-gallery.alignleft.columns-5 figure,
    .wp-block-gallery.alignright.columns-5 figure,
    .wp-block-gallery.columns-5 figure {
        width: calc(100% / 5 - 16px);
    }

    .wp-block-gallery.aligncenter.columns-6 figure,
    .wp-block-gallery.alignleft.columns-6 figure,
    .wp-block-gallery.alignright.columns-6 figure,
    .wp-block-gallery.columns-6 figure {
        width: calc(100% / 6 - 16px);
    }

    .wp-block-gallery.aligncenter.columns-7 figure,
    .wp-block-gallery.alignleft.columns-7 figure,
    .wp-block-gallery.alignright.columns-7 figure,
    .wp-block-gallery.columns-7 figure {
        width: calc(100% / 7 - 16px);
    }

    .wp-block-gallery.aligncenter.columns-8 figure,
    .wp-block-gallery.alignleft.columns-8 figure,
    .wp-block-gallery.alignright.columns-8 figure,
    .wp-block-gallery.columns-8 figure {
        width: calc(100% / 8 - 16px);
    }

}

/* 404 */

#page404 {
	height: 100%;
	width: 100%;
	display: table;
	background: linear-gradient(
					rgba($white, 0.65),
					rgba($white, 0.65)
				),
				$tertiary-color url(#{$assetPath}/main-bg.jpg) 80% 50% no-repeat;
	background-size: cover;

	.content {
		width: 100%;
		display: table-cell;
		vertical-align: middle;
	}

}

/* FOOTER */

footer {
	background: $primary-color;
	color: $white;
	display: table-row;
	height: 1px;

	.copyright {
		text-align: center;

		a {
			color: $white;

			&:link {
				background-image: linear-gradient(to right, rgba($white, 0) 50%, $white 50%);

			}

		}

		.year {
			font-family: $font-family-serif;
		}

	}

}

.divider {
	margin: rem-calc(0 12);

	&:before {
		content: "\007C";
	}

}

/* FEATURE DETECTION */

.cssvhunit {

	#intro,
	#page404 {
		height: 100vh;
	}

}