.select2-container {
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;

    .select2-selection--single {
        cursor: pointer;
        display: block;
        height: rem-calc(28);
        user-select: none;

        .select2-selection__rendered {
            display: block;
            padding-left: rem-calc(8);
            padding-right: rem-calc(20);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .select2-selection__clear {
            position: relative;
        }

    }

    // &[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    //  padding-right: 8px;
    //  padding-left: 20px;
    // }

    .select2-selection--multiple {
        cursor: pointer;
        display: block;
        min-height: rem-calc(32);
        user-select: none;

        .select2-selection__rendered {
            display: inline-block;
            overflow: hidden;
            padding-left: rem-calc(8);
            text-overflow: ellipsis;
            white-space: nowrap;
        }

    }

    .select2-search--inline {
        float: left;

        .select2-search__field {
            border: none;
            font-size: 100%;
            margin-top: rem-calc(5);
            padding: 0;

            &::-webkit-search-cancel-button {
                -webkit-appearance: none;
            }

        }

    }

}

.select2-dropdown {
    background-color: $white;
    border: $input-border-width $input-border-style $input-border-color;
    border-radius: $global-radius;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}

.select2-results {
    display: block;
}

.select2-results__options {
    list-style: none;
    margin: 0;
    padding: 0;
}

.select2-results__option {
    padding: rem-calc(6);
    user-select: none;

    &[aria-selected] {
        cursor: pointer;
    }

}

.select2-container--open {

    .select2-dropdown {
        left: 0;
    }

    .select2-dropdown--above {
        border-bottom: none;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .select2-dropdown--below {
        border-top: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

}


.select2-search--dropdown {
  display: block;
  padding: rem-calc(4);

    .select2-search__field {
        padding: 4px;
        width: 100%;
        box-sizing: border-box;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }

    }

    &.select2-search--hide {
        display: none;
    }

}

.select2-close-mask {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 99;
    background-color: $white;
}

.select2-hidden-accessible {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
}

.select2-container--default {

    .select2-selection--single {
        background-color: $white;
        border: $input-border-width $input-border-style $input-border-color;
        border-radius: $global-radius;

        .select2-selection__rendered {
            color: $tuatara;
            line-height: rem-calc(28);
        }

        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: bold;
        }

        .select2-selection__placeholder {
            color: scale-color($input-border-color, $lightness: 47%, $saturation: -5%);
        }

        .select2-selection__arrow {
            height: rem-calc(26);
            position: absolute;
            top: rem-calc(1);
            right: rem-calc(1);
            width: rem-calc(20);
        }

        .select2-selection__arrow b {
            border-color: $jumbo transparent transparent transparent;
            border-style: $input-border-style;
            border-width: 5px 4px 0 4px;
            height: 0;
            left: 50%;
            margin-left: rem-calc(-4);
            margin-top: rem-calc(-2);
            position: absolute;
            top: 50%;
            width: 0;
        }

    }

    // &[dir="rtl"] .select2-selection--single {

    //  .select2-selection__clear {
    //      float: left;
    //  }

    //  .select2-selection__arrow {
    //      left: rem-calc(1);
    //      right: auto;
    //  }

    // }

    &.select2-container--disabled {

        .select2-selection--single {
            background-color: $smoke;
            cursor: default;

            .select2-selection__clear {
                display: none;
            }

        }

    }

    &.select2-container--open {

        .select2-selection--single {

            .select2-selection__arrow b {
                border-color: transparent transparent $jumbo transparent;
                border-width: 0 4px 5px 4px;
            }

        }

    }

    .select2-selection--multiple {
        background-color: $white;
        border: $input-border-width $input-border-style $input-border-color;
        border-radius: rem-calc(4);
        cursor: text;

        .select2-selection__rendered {
            list-style: none;
            margin: 0;
            padding: rem-calc(0 5);
            width: 100%;

            li {
                list-style: none;
            }

        }

        .select2-selection__placeholder {
            color: scale-color($input-border-color, $lightness: 47%, $saturation: -5%);
            margin-top: rem-calc(5);
            float: left;
        }

        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: $font-weight-bold;
            margin-top: rem-calc(5);
            margin-right: rem-calc(10);
        }

        .select2-selection__choice {
            background-color: $silver;
            border: $input-border-width $input-border-style $input-border-color;
            border-radius: $global-radius;
            cursor: default;
            float: left;
            margin-right: rem-calc(5);
            margin-top: rem-calc(5);
            padding: rem-calc(0 5);
        }

        .select2-selection__choice__remove {
            color: scale-color($input-border-color, $lightness: 47%, $saturation: -5%);
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin-right: rem-calc(2);

            &:hover,
            &:focus {
                color: $smoke;
            }

        }

        .select2-selection__choice,
        .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder,
        .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
            float: right;
        }

    }

    // &[dir="rtl"] .select2-selection--multiple {

    //  .select2-selection__choice {
    //      margin-left: rem-calc(5);
    //      margin-right: auto;
    //  }

    //  .select2-selection__choice__remove {
    //      margin-left: rem-calc(2);
    //      margin-right: auto;
    //  }

    // }

    &.select2-container--focus .select2-selection--multiple {
        border: $input-border-style $input-focus-border-color $input-border-width;
        outline: 0;
    }

    &.select2-container--disabled {

        .select2-selection--multiple {
            background-color: $smoke;
            cursor: default;
        }

        .select2-selection__choice__remove {
            display: none;
        }

    }

    &.select2-container--open {

        &.select2-container--above {

            .select2-selection--single,
            .select2-selection--multiple {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }

        }

        &.select2-container--below {

            .select2-selection--single,
            .select2-selection--multiple {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }

        }

    }

    .select2-search--dropdown .select2-search__field {
        border: $input-border-width $input-border-style $input-border-color;
    }

    .select2-search--inline .select2-search__field {
        background: transparent;
        border: none;
        outline: 0;
        box-shadow: none;
        -webkit-appearance: textfield;
    }

    .select2-results > .select2-results__options {
        max-height: rem-calc(200);
        overflow-y: auto;
    }

    .select2-results__option[role=group] {
        padding: 0;
    }

    .select2-results__option {

        &[aria-disabled=true] {
            color: scale-color($input-border-color, $lightness: 47%, $saturation: -5%);
        }

        &[data-selected=true],
        &[aria-selected=true] {
            background-color: $gainsboro;
        }

        .select2-results__option {
            padding-left: 1em;

            .select2-results__option {
                margin-left: -1em;
                padding-left: 2em;

                .select2-results__option {
                    margin-left: -2em;
                    padding-left: 3em;

                    .select2-results__option {
                        margin-left: -3em;
                        padding-left: 4em;

                        .select2-results__option {
                            margin-left: -4em;
                            padding-left: 5em;

                            .select2-results__option {
                                margin-left: -5em;
                                padding-left: 6em;
                            }

                        }

                    }

                }

            }

        }

        .select2-results__group {
            padding-left: 0;
        }

    }

    .select2-results__option--highlighted[data-selected],
    .select2-results__option--highlighted[aria-selected] {
        background-color: $input-focus-border-color;
        color: $white;
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: rem-calc(6);
    }

}


.select2-container--classic {

    .select2-selection--single {
        background-color: $vapor;
        border: $input-border-width $input-border-style $input-border-color;
        border-radius: $global-radius;
        outline: 0;
        background-image: linear-gradient(to bottom, $white 50%, $smoke 100%);
        background-repeat: repeat-x;

        &:focus {
            border: $input-border-width $input-border-style $input-focus-border-color;
        }

        .select2-selection__rendered {
            color: $tuatara;
            line-height: rem-calc(28);
        }

        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: $font-weight-bold;
            margin-right: rem-calc(10);
        }

        .select2-selection__placeholder {
            color: scale-color($input-border-color, $lightness: 47%, $saturation: -5%);
        }

        .select2-selection__arrow {
            background-color: $gainsboro;
            border: none;
            border-left: $input-border-width $input-border-style $input-focus-border-color;
            border-top-right-radius: $global-radius;
            border-bottom-right-radius: $global-radius;
            height: rem-calc(26);
            position: absolute;
            top: rem-calc(1);
            right: rem-calc(1);
            width: rem-calc(20);
            background-image: linear-gradient(to bottom, $smoke 50%, $iron 100%);
            background-repeat: repeat-x;

            b {
                border-color: $jumbo transparent transparent transparent;
                border-style: $input-border-style;
                border-width: 5px 4px 0 4px;
                height: 0;
                left: 50%;
                margin-left: rem-calc(-4);
                margin-top: rem-calc(-2);
                position: absolute;
                top: 50%;
                width: 0;
            }

        }

    }

    // &[dir="rtl"] {

    //  .select2-selection--single {

    //      .select2-selection__clear {
    //          float: left;
    //      }

    //      .select2-selection__arrow {
    //          border: none;
    //          border-right: $input-border-width $input-border-style $input-focus-border-color;
    //          border-radius: 0;
    //          border-top-left-radius: $global-radius;
    //          border-bottom-left-radius: $global-radius;
    //          left: rem-calc(1);
    //          right: auto;
    //      }

    //  }

    // }

    &.select2-container--open {

        .select2-selection--single {
            border: $input-border-width $input-border-style $input-focus-border-color;

            .select2-selection__arrow {
                background: transparent;
                border: none;

                b {
                    border-color: transparent transparent $jumbo transparent;
                    border-width: 0 4px 5px 4px;
                }

            }

        }

        &.select2-container--above .select2-selection--single {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            background-image: linear-gradient(to bottom, $white 0%, $smoke 50%);
            background-repeat: repeat-x;
        }

        &.select2-container--below .select2-selection--single {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            background-image: linear-gradient(to bottom, $smoke 50%, $white 100%);
            background-repeat: repeat-x;
        }

    }

    .select2-selection--multiple {
        background-color: $white;
        border: $input-border-width $input-border-style $input-border-color;
        border-radius: $global-radius;
        cursor: text;
        outline: 0;

        &:focus {
            border: $input-border-width $input-border-style $input-focus-border-color;
        }

        .select2-selection__rendered {
            list-style: none;
            margin: 0;
            padding: rem-calc(0 5);
        }

        .select2-selection__clear {
            display: none;
        }

        .select2-selection__choice {
            background-color: $silver;
            border: $input-border-width $input-border-style $input-border-color;
            border-radius: $global-radius;
            cursor: default;
            float: left;
            margin-right: rem-calc(5);
            margin-top: rem-calc(5);
            padding: rem-calc(0 5);
        }

        .select2-selection__choice__remove {
            color: $jumbo;
            cursor: pointer;
            display: inline-block;
            font-weight: bold;
            margin-right: rem-calc(2);

            &:hover,
            &:focus {
                color: $charcoal;
            }

        }

    }

    // &[dir="rtl"] {

    //  .select2-selection--multiple {

    //      .select2-selection__choice {
    //          float: right;
    //          margin-left: rem-calc(5);
    //          margin-right: auto;
    //      }

    //      .select2-selection__choice__remove {
    //          margin-left: rem-calc(2);
    //          margin-right: auto;
    //      }

    //  }

    // }

    &.select2-container--open {

        .select2-selection--multiple {
            border: $input-border-width $input-border-style $input-focus-border-color;
        }

        &.select2-container--above .select2-selection--multiple {
            border-top: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        &.select2-container--below .select2-selection--multiple {
            border-bottom: none;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }

    }

    .select2-search--dropdown .select2-search__field {
        border: $input-border-width $input-border-style $input-border-color;
        outline: 0;
    }

    .select2-search--inline .select2-search__field {
        outline: 0;
        box-shadow: none;
    }

    .select2-dropdown {
        background-color: $white;
        border: $input-border-width $input-border-style transparent;
    }

    .select2-dropdown--above {
        border-bottom: none;
    }

    .select2-dropdown--below {
        border-top: none;
    }

    .select2-results > .select2-results__options {
        max-height: rem-calc(200);
        overflow-y: auto;
    }

    .select2-results__option {

        &[role=group] {
            padding: 0;
        }

        &[aria-disabled=true] {
            color: grey;
        }

    }

    .select2-results__option--highlighted[data-selected],
    .select2-results__option--highlighted[aria-selected] {
        background-color: #3875d7;
        color: $white;
    }

    .select2-results__group {
        cursor: default;
        display: block;
        padding: rem-calc(6);
    }

    &.select2-container--open .select2-dropdown {
        border-color: $input-focus-border-color;
    }

}